@import 'bootstrap.min.scss';
@import 'bootstrap-theme.scss';
@import 'mixins.scss';

@font-face{
  font-family : Trajan Pro;
  src : url('/fonts/Trajan.otf');
}

body{
  background: url('/images/bg.png') center;
  color: #fff;
  font-family: Trajan Pro;
}

p:first-letter{
  font-size: 150%;
}

.row{
  position: relative;
  z-index: +1;
}

.god-preview{
  &.thumb{
    img{
      margin: 4px;
      float:left;
    }
    p{
    position: relative;
    float:left;
    font-size: 18pt;
    top:10pt;
    @include outline-text(#000, 1px, 5px);
    }
  }
  
  &.stats{
    p{
      font-size: 14pt;
      padding: 7px;
      margin-bottom: 0;
      &:not(:first-child){
        margin:0;
      }
    }
  }
}

.strat-name-box{
  height: 118px;
  margin-top: -10px;
  .strat-name{
    position: relative;
    margin-top: -10px;
    height: 118px;
  }
  
}

.small-box{
  position: relative;
  height: 118px;
  background: 
    url('/images/smallboxleft.png') left top no-repeat,
    url('/images/smallboxright.png') right top no-repeat;
  
  @include border-fill();
  
  .content{
    width: 100%;
    height: 88px;
    margin-top: 30px;
    background-image: url('/images/smallboxfill.png');
    background-repeat: repeat-x;
  }
}

label{
  @include prefix('user-select', none);
}


















