@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin outline-text($color:#000, $width:1px, $spread:0){
  text-shadow:
  (-$width) (-$width) $spread $color, 
  $width (-$width) $spread $color, 
  (-$width) $width $spread $color, 
  $width  $width $spread $color
}

@mixin border-fill{
  .border-fill{
    position: absolute;
    z-index: -10;
    height: 30px;
    width: calc(100% - 100px);
    background-image: url('/images/smallboxmid.png');
    background-position: top left;
    background-repeat: repeat-x;
    background-clip: padding-box, padding-box, content-box;
    background-origin: padding-box, padding-box, content-box;
  }
}